/*
  DIAGNOSTIC STYLING
*/
body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ), url('../img/bg.jpg');
}

/************
COLOR PALETTE
************/
:root {
  --primary-color: #0d1418;
  --secondary-color: #37d623;
  --tertiary-color: #94a19a;
  --tint-color: white;
  --shade-color: black;
  /* SECOND CHOICE
  --primary-color: #1d0d4a;
  --secondary-color: #70838a;
  --tertiary-color: #0f1f32;
  --tint-color: white;
  --shade-color: black;*/
}


/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  /* grid-gap: 1em; */
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

aside {
  grid-column: span 2;
}


/************
HEADER
************/
header {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}

header h1 {
  font: 5.0em 'IM Fell English SC', serif;
  color: white;
  text-align: center;
}

header h5 {
  font: 1.2em Arial, Tahoma, sans-serif;
  color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-content: flex-start;
}


/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}


/************
ACTORS
************/
main {
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

main section h2 {
  font: 1.2em 'IM Fell English SC', serif;
  color: white;
  padding-left: 1em;
}

section#summary {
  grid-column: 1;
}

section#actors {
  grid-column: 2;
}


/************
ACTORS
************/
main section#actors { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main section#actors img {
  width: 100px;
  height: auto;
}

/************
FOOTER
************/
footer {
  text-align: center;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}