/*
  DIAGNOSTIC STYLING
*/
body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ), url('../img/bg.jpg');
}

/************
COLOR PALETTE AND SIZING
************/
:root {
  --primary-color: #0d1418;
  --secondary-color: #37d623;
  --tertiary-color: #94a19a;
  --tint-color: white;
  --shade-color: black;
  /* SECOND CHOICE
  --primary-color: #1d0d4a;
  --secondary-color: #70838a;
  --tertiary-color: #0f1f32;
  --tint-color: white;
  --shade-color: black;*/

  --viewing-size: 56em;
}


/************
LAYOUT
************/
div#container {
  /* Center to Page   */
  margin: 0 auto;
  max-width: var(--viewing-size);
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  /* grid-gap: 1em; */
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
}


/************
NAV
************/
nav {
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3em;
  padding: 0;
  margin: 0;
  border: 0;
  position: fixed;
}

nav a, a:link, a:visited {
  text-decoration: none;
  color: white;
  font: 1.4em 'IM Fell English SC', serif;
}

nav a:hover {
  color: limegreen;
}


/************
HEADER
************/
header {
  margin-top: 3em;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1;
  justify-items: center;
}

header h1 {
  grid-row: 1;
  font: 7.0em 'IM Fell English SC', serif;
  color: white;
  padding: 0;
  margin: 0;

}

header h5 {
  grid-row: 2;
  font: 1.2em Arial, Tahoma, sans-serif;
  color: var(--tertiary-color);
}


/************
MAIN
************/
main {
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.5em;
}

main section h2 {
  font: 1.6em 'IM Fell English SC', serif;
  color: white;
  padding-left: 1em;
}


/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
main section#trailer {
  grid-column: span 2;
}

/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}


/************
SUMMARY
************/
main section#summary {
  grid-column: 1;
  width: 100%;
}

main section#summary p {
  font: 1em Arial, Tahoma, sans-serif;
  color: white;
  padding-left: 1.5em;
  line-height: 1.4em;
}

/************
ACTORS
************/
main section#actors { 
  grid-column: 2;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main section#actors img {
  width: 100px;
  height: auto;
  grid-row: 1;
  margin: 0 auto;
}


section#actors figcaption {
  grid-row: 2;
  text-align: center;
}

/************
FOOTER
************/
footer {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  text-align: center;
  color: white;
  font: 0.8em Arial, Tahoma, sans-serif;
}


/************
ASIDE
************/
aside {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
}

aside h5 {
  color: white;
  font: 0.8em Arial, Tahoma, sans-serif;
  text-align: center;
}

aside ul {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1;
  justify-items: center;
  align-items: space-evenly;
  margin: 0;
  padding: 0;
  border: 0;
}

aside img {
  width: 50px;
  height: auto;
}

aside li {
  padding: 1.2em 0;
}


/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}